/* Стили для кнопок */
/*.button {

    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}*/

/* Стили для кнопок */
.button {
    -fx-background-color: #ffccd5; /* Нежно-розовый цвет */
    -fx-text-fill: #000000; /* Черный текст */
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-border-color: #ff99ac; /* Цвет границы немного темнее */
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0, 0, 5);
    -fx-cursor: hand;
}

.button:hover {
    -fx-opacity: 0.9;
    -fx-border-width: 1px 3px 1px 1px;
}

.button:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 7, 0, 0, 2);
}

/* Стили для текстовых полей */
.text-field {
    -fx-border-color: #3a3a3a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.combo-box {
    -fx-border-color: #3a3a3a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.combo-box .combo-box-popup {
    -fx-background-color: white;
    -fx-border-color: #3a3a3a;
    -fx-border-radius: 5px;
}

.combo-box .arrow {
    -fx-background-color: #3a3a3a;
}

/* Общие стили для CheckBox */
.check-box {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: center-left; /* Выравнивание текста относительно кнопки */
}

/* Кастомизация коробки чекбокса */
.check-box .box {
    -fx-background-color: #9098A9; /* Цвет выключенного чекбокса */
    -fx-border-color: #9098A9;
    -fx-border-radius: 3px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-padding: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0.5, 0, 0);
    -fx-transition: all 0.3s ease;
}

/* Активное состояние чекбокса */
.check-box:selected .box {
    -fx-background-color: #506EEC; /* Цвет активного чекбокса */
    -fx-border-color: #506EEC;
    -fx-effect: dropshadow(gaussian, rgba(50, 205, 50, 0.5), 2, 0.5, 0, 0);
}

/* Положение галочки */
.check-box .box > .mark {
    -fx-background-color: white; /* Цвет галочки */
    -fx-background-radius: 50%;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-translate-x: 2px; /* Позиция в выключенном состоянии */
    -fx-translate-y: 0;
    -fx-transition: all 0.3s ease-in-out;
}

/* Положение галочки в активном состоянии */
.check-box:selected .box > .mark {
    -fx-translate-x: 6px; /* Позиция в активном состоянии */
}



/* Стили для таблицы */
.table-view {
    -fx-background-color: #f0f0f0;
    -fx-table-cell-border-color: transparent;
}

.table-view .cell {
    -fx-background-color: #ffffff; /* Белый фон */
    -fx-text-fill: #000000; /* Черный текст */
}

.table-column-header {
    -fx-background-color: #ffccd5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

/* Стили для VBox */
.v-box {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-color: #f0e6f6;
}

/* Стили для корневого контейнера */
.root {
    -fx-background-color: #f0e6f6;
}

